<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @contact.names %>,</p>
    <p>
      It's time to update our church directory for 2014. 
      Please verify that your contact information is <b>complete, accurate</b>, and make sure you have a recent <b>family photo</b> following the link below.<br> 
      请点击下面的连接确认您的通讯信息是否完整，准确，照片是否漂亮满意。<p>
      <%= @url %>
    </p>
    
    <p>Thanks and have a blessed day! <p>
    向前弟兄<br/>
    858-603-3011</p>
  </body>
</html>

