<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @contact.names %>,</p>
    <p>
      It's time to update our church directory for 2014, and it's easy :)
      Just click the following link to check and update your contacts if needed. We will include photos this year. Pleaase upload your recent family photo<br> <br> 
      又到了我们更新通信录的时候了。非常容易，请点击下面的连接检查您的通讯资料，是否完整。<p>
      <%= @url %>
    </p>
    
    <p>Thanks and have a blessed day! <p>
    向前弟兄<br/>
    858-603-3011</p>
  </body>
</html>

