<%= content_for :title do %>FAQ<% end %>

<%= content_for :subheader do %>
  <h1> Frequently Asked Questions</h1>
<% end %>

<div class="faq-page">
  <h2>Who is this for? </h2>
    <p><%= configatron.site_name %> is for everyone.</p>
    
    <p><span class="revision-comment round">For I am not ashamed of the gospel, because it is the power of God that brings salvation to <b>everyone</b> who believes: 
    first to the Jew, then to the Gentile.</span>
    <%= link_to "(John 20:31 NIV)", "http://www.biblegateway.com/passage/?search=john%2020:31&version=NIV"%> </p> 

    <p><span class="revision-comment round">For God so loved the world that he gave his one and only Son, that <b>whoever</b> 
    believes in him shall not perish but have eternal life.</span>
    <%= link_to "(John 3:15 NIV)", "http://www.biblegateway.com/passage/?search=john%203:15&version=NIV"%> </p>

  <h2>What is this for?</h2>
    <p><span class="revision-comment round">but these are written so that <b>you may believe</b> that Jesus is the Christ, the Son of God, 
    and that by believing <b>you may have life</b> in his name.</span>
    <%= link_to "(John 20:31 NIV)", "http://www.biblegateway.com/passage/?search=john%2020:31&version=NIV"%> </p>

  <h2>How does it work?</h2>
    <p><%= configatron.site_name %> provides a channel for people to ask questions and share their answers and experiences. 
    Tools are at your finger tip for voting on, commenting on, responding to, and bookmarking your favorite postings. 
    The simple rule of "top voted comes first" allows the site to automatically stay relevant to the topics the community is focusing on. </p>

  <h2>Who is behind this? </h2>
    <p>A few Christians who love God with all their hearts and willing to serve Him. Many praying for the visitors.</p>
    <p>Runfeng: Chief praying officer<br />
    Jason: Chief blogging officer<br />
    Yan: Chief marketing officer<br />
    Bryan: Chief technology officer<br /></p>
    <p>If you'd like us to pray for you specifically, post your prayer request as a question or email us at pray4me@freefuyin.com</p> 
  <h2> What can I post here?</h2>
    <a name='what-can-i-post'></a>
    <p>Any question on Christianity, the Bible and life situation handling, seeking advice and help through the Christian faith. Testimonies to share with others.</p>
    <p>It started out from a bilingual community. You may post in either English or Chinese.</p>

  <h2> What should I <i>not</i> post here?</h2>
    <p>To prevent your postings from being flagged and possibly removed, and your account from being banned,<b> avoid</b> posting questions that are: </p>
    <ul>
      <li>inappropriate, offensive or disrespectful in anyway</li>
      <li>with content copyrighted to somebody else</li>
    </ul>

  <h2>What happens to the right to my contents?</h2>
    <p>You own the right to your contents. By posting them on <%= configatron.domain %>, you allow us to display and link to them. Please see the <%= link_to "terms of service", "/terms" %> for details</p>

  <h2>Do I need to have an account?</h2>
    <p>You don't need an account to browse through the questions, answers and articles. 
    However, if you decided to become an active member of the community, you need an account to post and to vote on them.
    <%= link_to "Signing up", new_user_registration_path %> an acount is free and easy.</p>

  <h2> <a name="benice"></a>What's the rule here?</h2>
    <p>Be nice to others. </p>
    
    <p><span class="revision-comment round">	"Teacher, which is the <b>greatest commandment</b> in the Law.?"</span>
    <%= link_to "(Matthew 22:36 NIV)", "http://www.biblegateway.com/passage/?search=matthew%2022:36&version=NIV"%> </p> 
    
    <p><span class="revision-comment round"> 
    37 Jesus replied: “‘<b>Love the Lord your God</b> with all your heart and with all your soul and with all your mind.’</br> 
	38 This is the first and greatest commandment.</br>
	39 And the second is like it: ‘<b>Love your neighbor</b> as yourself.’</br> 
	40 All the Law and the Prophets hang on these two commandments.” 
	</span>
    <%= link_to "(Matthew 22:37-40 NIV)", "http://www.biblegateway.com/passage/?search=matthew%2022:37-40&version=NIV"%> </p> 

  <h2>Is it free?</h2>
    <p>Free as air - <span class="revision-comment round"> Was it a sin for me to lower myself in order to elevate you by preaching the gospel of God to you <b>free of charge</b>?</span>
    <%= link_to "(2 Cor 11:7 NIV)", "http://www.biblegateway.com/passage/?search=2%20cor%2011:7&version=NIV"%></p>
    
    <p>Free as bondage broken - <span class="revision-comment round"> Then you will know the truth, and the truth will <b>set you free</b>.</span> 
    <%= link_to "(John 8:32 NIV)", "http://www.biblegateway.com/passage/?search=john%208:32&version=NIV"%> </p>

  <h2> <a name="signatures"></a>Should I use a signature or tagline?</h2>
    <p>All your postings come with your user card, linking directly to your user page. Put your conviction in your profile instead. </p>
</div>
