  <div id="base"></div>

  <div id="footer">
    <div class="footerwrap">
      <span id="copyright"> &copy; 2012-2014 <%= configatron.company_name %> All rights reserved. </span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/terms">terms</a> 
      | <a href="/privacy">privacy</a> 
      | <a href="/faq">FAQ</a>
      <% if configatron.site_name == "FreeFuyin" %>
        | <a href="/cc">cc</a>
      <%end%>
    </div>
  </div>
 
<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>