<%if false%>
  <div id="notify-container">
    <div id="notify-9" style="">
      <span class="notify-close"><a title="dismiss this notification">×</a></span>
      <span class="notify-text">Congrats, you've gained the privilege – comment everywhere <a href="/privileges/comment">learn more</a></span>
    </div>
  </div>
<%end%>